@page
@model PosCFG.Pages.FullTerminalSystem.createModel

@{
    ViewData["Title"] = "Create";
}

@section scripts{

    <script>
        $(function () {
            $("#parametergroup").on("change", function () {
                var parametergroup = $(this).val();
                $("#paramversion").empty();
                $("#paramversion").append("<option value=''>Seleccionar</option>");
                $.getJSON(`?handler=ParameterVersions&parametergroup=${parametergroup}`, (data) => {
                    $.each(data, function (i, item) {

                        $("#paramversion").append(`<option value="${item}">${item}</option>`);
                    });
                });
            });
        });
    </script>
    <script>
        $(function () {
            $("#programid").on("change", function () {
                var programId = $(this).val();
                $("#programversion").empty();
                $("#programversion").append("<option value=''>Seleccionar</option>");
                $.getJSON(`?handler=ProgramVersions&programId=${programId}`, (data) => {
                    $.each(data, function (i, item) {

                        $("#programversion").append(`<option value="${item}">${item}</option>`);
                    });
                });
            });
        });
    </script>

    <script>
        $(function () {
            $("#fullTerminalSystemPOS_ParamDefault").on("change", function () {
                var programId = $(this).val();

                if (programId != 0) {
                    window.location.href = `/FullTerminalSystem/create?Parameter_Default=` + programId;
                } else {
                    window.location.href = `/FullTerminalSystem/create`;
                }
            });
        });
    </script>

    <script>
        $(function () {
            $("#myInput1").on("change", function () {

                document.getElementById('lblError').innerHTML = "";

                var id = $(this).val();
                var input2 = document.getElementById('myInput2');

                var last8 = id.substr(id.length - 8);
                input2.value = last8;

                if (id.length > 15) {
                    input1.value = id.substr(id.length - 15);
                }

                $.getJSON(`?handler=CheckTerminal&id=${last8}`, (data) => {
                    $.each(data, function (i, item) {

                        if (item != "") {

                            document.getElementById('lblError').innerHTML = item;
                        }
                    });
                });
            });
        });
    </script>

}

<h1>Crear</h1>
<br />
<br />
<h4>Full Terminal</h4>
<hr />
<br />
<form method="post">
    <div class="form-row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="param_default">Parameters Default</label>

                @Html.DropDownListFor(m => m.fullTerminalSystemPOS.ParamDefault, Model.GetDefaultsTypes(), new { @class = "form-control" })

            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="fullTerminalSystemPOS.SerialNumber" class="control-label">Nro de Serie (HW)</label>
                    <input asp-for="fullTerminalSystemPOS.SerialNumber" id="myInput1" class="form-control" placeholder="nro serie" />
                    <span asp-validation-for="fullTerminalSystemPOS.SerialNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="fullTerminalSystemPOS.TerminalID" class="control-label">Terminal ID</label>
                    <input asp-for="fullTerminalSystemPOS.TerminalID" id="myInput2" class="form-control" readonly />
                    <span asp-validation-for="fullTerminalSystemPOS.TerminalID" class="text-danger"></span>
                </div>
                <script type="text/javascript">
                    function ultimos8Valores(input1) {
                        var input2 = document.getElementById('myInput2');

                        var last = input1.value;

                        var last8 = last.substr(last.length - 8);

                        input2.value = last8;

                        if (last.length > 15) {

                            input1.value = last.substr(last.length - 15);

                        }
                    }
                </script>

                <span id="lblError" class="text-danger"></span>

            </div>
            <!-- rst-69 </-->

            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.HeaderLine1" class="control-label">Nombre del Comercio</label>
                <input asp-for="fullTerminalSystemPOS.HeaderLine1" class="form-control" onkeyup="this.value = this.value.toUpperCase();" maxlength="24" />
                <span asp-validation-for="fullTerminalSystemPOS.HeaderLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.HeaderLine2" class="control-label">Dirección</label>
                <input asp-for="fullTerminalSystemPOS.HeaderLine2" class="form-control" onkeyup="this.value = this.value.toUpperCase();" maxlength="24" />
                <span asp-validation-for="fullTerminalSystemPOS.HeaderLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.HeaderLine3" class="control-label">RUT</label>
                <input asp-for="fullTerminalSystemPOS.HeaderLine3" class="form-control" maxlength="12" />
                <span asp-validation-for="fullTerminalSystemPOS.HeaderLine3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom4" class="control-label">VISANET</label>
                <input asp-for="fullTerminalSystemPOS.Custom4" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom5" class="control-label">FIRSTDATA</label>
                <input asp-for="fullTerminalSystemPOS.Custom5" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom6" class="control-label">OCA</label>
                <input asp-for="fullTerminalSystemPOS.Custom6" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom7" class="control-label">CREDITOS DIRECTOS</label>
                <input asp-for="fullTerminalSystemPOS.Custom7" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom8" class="control-label">CABAL U$ (PESOS)</label>
                <input asp-for="fullTerminalSystemPOS.Custom8" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom19" class="control-label">CABAL U$S (DOLARES)</label>
                <input asp-for="fullTerminalSystemPOS.Custom19" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom9" class="control-label">CREDITEL</label>
                <input asp-for="fullTerminalSystemPOS.Custom9" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom10" class="control-label">PASSCARD</label>
                <input asp-for="fullTerminalSystemPOS.Custom10" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom11" class="control-label">EDENRED</label>
                <input asp-for="fullTerminalSystemPOS.Custom11" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom12" class="control-label">ANDA</label>
                <input asp-for="fullTerminalSystemPOS.Custom12" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom13" class="control-label">AMEX</label>
                <input asp-for="fullTerminalSystemPOS.Custom13" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom14" class="control-label">CLUB DEL ESTE</label>
                <input asp-for="fullTerminalSystemPOS.Custom14" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom15" class="control-label">MIDES</label>
                <input asp-for="fullTerminalSystemPOS.Custom15" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Custom16" class="control-label">BROU</label>
                <input asp-for="fullTerminalSystemPOS.Custom16" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Custom16" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="fullTerminalSystemPOS.TerminalChecksum" class="control-label">Actualizar datos de Terminal</label>
                        <input asp-for="fullTerminalSystemPOS.TerminalChecksum" class="form-check-input" checked />
                        <span asp-validation-for="fullTerminalSystemPOS.TerminalChecksum" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <!--@Html.LabelFor(m => m.fullTerminalSystemPOS.ConnectGroup)-->
                <label asp-for="fullTerminalSystemPOS.ConnectGroup" class="control-label">Connect Group</label>
                @Html.DropDownListFor(m => m.fullTerminalSystemPOS.ConnectGroup, Model.GetConnectGroups(), "Seleccionar", new { @class = "form-control" })
                <!--input asp-for="fullTerminalSystemPOS.ConnectGroup" class="form-control" /-->
                <span asp-validation-for="fullTerminalSystemPOS.ConnectGroup" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="fullTerminalSystemPOS.ParmConnChecksum" class="control-label">Actualizar parametros de conexión (ParmConnChecksum)</label>
                    <input asp-for="fullTerminalSystemPOS.ParmConnChecksum" class="form-check-input" checked />
                    <span asp-validation-for="fullTerminalSystemPOS.ParmConnChecksum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.ControlGroup" class="control-label">Tipo de comercio</label>
                @Html.DropDownListFor(m => m.fullTerminalSystemPOS.ControlGroup, Model.GetControlGroups(), "Seleccionar", new { @class = "form-control" })
                <!--input asp-for="fullTerminalSystemPOS.ControlGroup" class="form-control" /-->
                <span asp-validation-for="fullTerminalSystemPOS.ControlGroup" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="fullTerminalSystemPOS.ControlCheckSum" class="control-label">Actualizar Tipo Comercio (ControlChecksum)</label>
                    <input asp-for="fullTerminalSystemPOS.ControlCheckSum" class="form-check-input" checked />
                    <span asp-validation-for="fullTerminalSystemPOS.ControlCheckSum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="fullTerminalSystemPOS.ParameterGroup" class="control-label">Parameter Group</label>
                        @Html.DropDownListFor(m => m.fullTerminalSystemPOS.ParameterGroup, Model.GetParameterGroups(), "Seleccionar", new { @class = "form-control", @id = "parametergroup" })
                        <!-- input asp-for="fullTerminalSystemPOS.ParameterGroup" class="form-control" /-->
                        <span asp-validation-for="fullTerminalSystemPOS.ParameterGroup" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fullTerminalSystemPOS.ParameterVersion" class="control-label">Parameter Version</label>
                        <!--input asp-for="fullTerminalSystemPOS.ParameterVersion" class="form-control" /-->

                        @Html.DropDownListFor(m => m.fullTerminalSystemPOS.ParameterVersion, Model.GetParameterVersion(Model.fullTerminalSystemPOS.ParameterGroup.ToString()), new { @class = "form-control", @id = "paramversion" })
                        <span asp-validation-for="fullTerminalSystemPOS.ParameterVersion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label asp-for="fullTerminalSystemPOS.ParameterReload" class="control-label">Cargar parámetros de conexión (ParameterReload)</label>
                    <input asp-for="fullTerminalSystemPOS.ParameterReload" class="form-check-input" checked />
                    <span asp-validation-for="fullTerminalSystemPOS.ParameterReload" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="fullTerminalSystemPOS.ProgramID" class="control-label">Program ID</label>
                        @Html.DropDownListFor(m => m.fullTerminalSystemPOS.ProgramID, Model.GetProgramIDs(), "Seleccionar", new { @class = "form-control", @id = "programid" })
                        <!--input asp-for="fullTerminalSystemPOS.ProgramID" class="form-control" /-->
                        <span asp-validation-for="fullTerminalSystemPOS.ProgramID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fullTerminalSystemPOS.ProgramVersion" class="control-label">Program Version</label>
                        <!--input asp-for="fullTerminalSystemPOS.ProgramVersion" class="form-control" /-->
                        @Html.DropDownListFor(m => m.fullTerminalSystemPOS.ProgramVersion, Model.GetProgramVersion(Model.fullTerminalSystemPOS.ProgramID.ToString()), new { @class = "form-control", @id = "programversion" })

                        <span asp-validation-for="fullTerminalSystemPOS.ProgramVersion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="fullTerminalSystemPOS.ProgramReload" class="control-label">Cargar programa</label>
                    <input asp-for="fullTerminalSystemPOS.ProgramReload" class="form-check-input" checked />
                    <span asp-validation-for="fullTerminalSystemPOS.ProgramReload" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.Paquete" class="control-label">Package Name</label>
                <input asp-for="fullTerminalSystemPOS.Paquete" class="form-control" />
                <span asp-validation-for="fullTerminalSystemPOS.Paquete" class="text-danger"></span>
            </div>

            <label class="control-label">JPOS</label>

            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.ca" class="control-label">CA (campo 43)</label>
                <input asp-for="fullTerminalSystemPOS.ca" class="form-control" maxlength="40" />
                <span asp-validation-for="fullTerminalSystemPOS.ca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.mcc" class="control-label">MCC (campo 18)</label>
                <input asp-for="fullTerminalSystemPOS.mcc" class="form-control" maxlength="4" pattern="[A-Za-z0-9]+" title="Letras y números." />
                <span asp-validation-for="fullTerminalSystemPOS.mcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.pf_id" class="control-label">PF_ID (campo 104)</label>
                <input asp-for="fullTerminalSystemPOS.pf_id" class="form-control" maxlength="15" pattern="[A-Za-z0-9]+" title="Letras y números." />
                <span asp-validation-for="fullTerminalSystemPOS.pf_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.visa_spnsrd_mercht" class="control-label">VISA SPNSRD</label>
                <input asp-for="fullTerminalSystemPOS.visa_spnsrd_mercht" class="form-control" maxlength="15" pattern="[A-Za-z0-9\s ]+" title="Letras y números." />
                <span asp-validation-for="fullTerminalSystemPOS.visa_spnsrd_mercht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.amex_id_comercio" class="control-label">AMEX Id Comercio</label>
                <input asp-for="fullTerminalSystemPOS.amex_id_comercio" class="form-control" maxlength="20" pattern="[A-Za-z0-9]+" title="Letras y números." />
                <span asp-validation-for="fullTerminalSystemPOS.amex_id_comercio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullTerminalSystemPOS.enabled_JPOS" class="control-label">Activar Terminal JPOS</label>
                <input asp-for="fullTerminalSystemPOS.enabled_JPOS" class="form-check-input" checked />
                <span asp-validation-for="fullTerminalSystemPOS.enabled_JPOS" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-2">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </div>
</form>

<br />

<div>
    <a asp-page="Index">Volver a Lista Terminales</a>
</div>